@import "mixins";
@import "utils";

.header {
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  min-width: auto;
  height: 72px;
  border-top: 5px solid #7a4772;
  background: #f9f9f9;
  border-bottom: 1px solid #d4d4d4;
  z-index: 10;

  .headerContainer {
    display: flex;
    height: 100%;
    margin: 0 auto;
  }

  .headerBlockDivider {
    flex-shrink: 1000;
    flex-grow: 1;
    padding: 0 8px;
    height: 100%;
  }

  .contactUsContainer {
    display: flex;
    align-items: center;
  }

  .logoContainer {
    height: 100%;
    display: flex;
    border-bottom: 2px solid #731b3c;

    .logoLink {
      display: flex;
      flex-direction: row;
      flex: 1 0;
      align-items: center;
      text-decoration: none;
      color: #731b3c;
      font-weight: 500;
    }

    .logoTitle {
      margin-left: 8px;

      @include xs {
        display: none;
      }

      @include sm {
        display: flex;
      }
    }

    .logoImage {
      background: url("../images/klesun-prod-logo.png") no-repeat;
      display: inline-block;
      height: 64px;
      width: 64px;
      background-size: cover;
    }
  }
}

.container {
  display: block;
  margin: auto;

  @include xs {
    width: 310px;
  }

  @include sm {
    width: 480px;
  }

  @include md {
    width: 660px;
  }

  @include lg {
    width: 910px;
  }

  @include xl {
    width: 1100px;
  }
}

.mainSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .introSectionTitle {
    font-weight: 700;
    color: #3e1927;
    text-align: center;
    margin: 0;
    font-size: 32px;
  }

  .sectionMainText {
    text-align: center;
  }

  .lastSectionParagraph {
    text-align: left;
  }

  .introSectionMainHeader {
    margin: 0;
  }

  .introSectionSecondaryHeader {
    margin: 0;
    text-align: center;

    .introSectionTitle {
      font-weight: 400;
      font-size: 14px;
      color: #7b7b7b;
    }
  }

  .lastSectionMainTitle {
    font-size: 12px;
    text-align: right;
    font-weight: 400;
  }

  .introSection {
    flex-grow: 1;
    flex-shrink: 1;

    .introSectionMainContainer {
      height: 100%;

      @include xs {
        padding: 32px;
      }

      @include sm {
        padding: 64px;
      }
    }

    .introSectionMainDescription {
      margin-top: 42px;
    }

    .introSectionMain {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .introPointsDivider {
      width: 50%;
      min-height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      @include xs {
        margin: 28px auto;
      }

      @include sm {
        margin: 18px auto;
      }

      .introPointsDividerPoint {
        width: 28px;
        height: 28px;
        border-radius: 18px;
        border: 8px solid #822a4a;
        opacity: 0.4;
      }
    }

    .introSectionColumns {
      display: flex;
      justify-content: space-between;

      @include xs {
        flex-direction: column;
      }

      @include md {
        flex-direction: row;
      }

      .introSectionColumnContainer {
        padding: 32px 16px;
      }

      .popularProjects {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;

        .popularProjectsContainer {
          flex-basis: 70%;
        }
      }

      .introSectionBusinessDescription {
        flex-basis: 65%;

        p {
          font-size: 14px;
          line-height: 24px;
        }

        .introSectionColumnContainer {
          padding: 32px 64px;
        }
      }

      .introSectionPopularProjects {
        flex-basis: 35%;

        .introColumnContainerTitle {
          margin: 0;
          font-size: 16px;
          text-align: left;
          padding: 16px 0;
          border-bottom: 2px solid #332030;
          cursor: default;
        }

        ul {
          padding: 0;
          list-style: none;

          li {
            padding: 2px 0;
            display: flex;
            justify-content: space-between;

            > a {
              margin-right: 4px;
              text-decoration: none;
              color: #681e5c;
              font-weight: 500;
              font-size: 14px;
            }
          }
        }
      }

      .introSectionInnerColumn {
        display: flex;
        flex: 1;

        .introColumnContainer {
          width: 100%;

          @include xs {
            padding: 32px;
          }

          @include sm {
            padding: 64px;
          }
        }
      }
    }
  }

  .introColumnContainerHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .introColumnContainerTitle {
      text-align: center;
      font-size: 24px;
      font-weight: 500;
    }
  }

  .lastSection {
    background-color: #332030;
    flex-grow: 1;

    .container {
      height: 100%;
      display: flex;
    }

    .secondarySectionMainDescription {}

    .lastSectionMain {
      flex-grow: 1;
      align-items: flex-end;
      display: flex;

      @include xs {
        padding: 24px 32px;
      }

      @include sm {
        padding: 24px 64px;
      }
    }

    .lastSectionMainContainer {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      color: white;
    }
  }
}

.footerMain {
  width: 100%;
  padding: 16px;
  background-color: #2b323e;

  .footerContainer {
    display: flex;
    flex-direction: column;
  }

  .footerRow {
    width: 100%;
    display: flex;
  }
}

.copyright {
  margin-top: 12px;
  width: 100%;
  display: flex;
  justify-content: center;

  .copyrightText {
    color: #fff;
    font-weight: 400;
  }
}

.linksRow {
  flex-direction: row;

  .linksColumn {
    flex: 1;

    @include xs {
      margin: 0 12px;
    }

    @include sm {
      margin: 0 24px;
    }

    .linksTitle {
      color: white;
      font-weight: 500;
      margin-bottom: 0;
    }
  }

  .links {
    list-style-type: none;
    padding-left: 0;

    li + li {
      margin-top: 4px;
    }

    a {
      text-decoration: none;
      color: #fff;

      @include xs {
        font-size: 12px;
      }

      @include sm {
        font-size: 14px;
      }
    }
  }
}