@import "mixins";

.header {
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  height: 55px;
  opacity: 1;
}

.container {
  display: block;
  margin: auto;

  @include xs {
    width: 310px;
  }

  @include sm {
    width: 480px;
  }

  @include md {
    width: 660px;
  }

  @include lg {
    width: 910px;
  }

  @include xl {
    width: 1100px;
  }
}

.mainSection {
  width: 100%;

  .introSection {
    height: calc(60vh + 86px);
    background: linear-gradient(30deg, #7e94e4, #8db7a6);

    .introSectionInner {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .introSectionTitle {
        font-weight: 700;
        color: #2b323e;
        text-align: center;
        margin: 0;

        @include xs {
          font-size: 48px;
        }

        @include sm {
          font-size: 72px;
        }
      }
    }
  }

  .secondarySection {
    //height: calc(64vh + 36px);

    .secondarySectionMain {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .secondarySectionMainContainer {
        @include xs {
          padding: 32px;
        }

        @include sm {
          padding: 64px;
        }

        .secondarySectionMainTitle {
          font-size: 32px;
          text-align: center;
        }

        .secondarySectionMainText {
          text-align: center;
        }
      }
    }

    .secondaryPointsDivider {
      width: 50%;
      margin: 28px auto;
      min-height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      .secondaryPointsDividerPoint {
        width: 28px;
        height: 28px;
        border-radius: 18px;
        border: 8px solid;
        opacity: 0.4;
      }
    }

    .secondarySectionColumns {
      //height: 100%;
      display: flex;
      justify-content: space-between;

      @include xs {
        flex-direction: column;
      }

      @include sm {
        flex-direction: row;
      }

      .secondarySectionInnerColumn {
        display: flex;
        flex: 1;

        .secondaryColumnContainer {
          width: 100%;

          @include xs {
            padding: 32px;
          }

          @include sm {
            padding: 64px;
          }

          .secondaryColumnContainerHeader {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .secondaryColumnContainerTitle {
              text-align: center;
              font-size: 24px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  .lastSection {
    background-color: #f9f9f9;

    .lastSectionMainContainer {
      display: flex;
      flex-direction: column;
      padding: 32px 0;
    }
  }
}

.footerMain {
  width: 100%;
  padding: 16px;
  background-color: #2b323e;

  .footerContainer {
    display: flex;
    flex-direction: column;
  }

  .footerRow {
    width: 100%;
    display: flex;
  }
}

.copyright {
  margin-top: 12px;
  width: 100%;
  display: flex;
  justify-content: center;

  .copyrightText {
    color: #fff;
    font-weight: 400;
  }
}

.linksRow {
  flex-direction: row;

  .linksColumn {
    flex: 1;

    @include xs {
      margin: 0 12px;
    }

    @include sm {
      margin: 0 24px;
    }

    .linksTitle {
      color: white;
      font-weight: 500;
      margin-bottom: 0;
    }
  }

  .links {
    list-style-type: none;
    padding-left: 0;

    li + li {
      margin-top: 4px;
    }

    a {
      text-decoration: none;
      color: #fff;

      @include xs {
        font-size: 12px;
      }

      @include sm {
        font-size: 14px;
      }
    }
  }
}