@import "mixins";

.modalContactBackdrop {
  position: absolute;
  top: 0;
  z-index: 20;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: black;
  opacity: 0.65;
  cursor: pointer;
}

.modalBody {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  max-width: 600px;
  height: 575px;
  background: white;
  z-index: 300;
  border: 5px solid #9e3d61;
}

.header {
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  min-width: auto;
  height: 55px;
  border-top: 5px solid #9e3d61;
  background: #f9f9f9;
  border-bottom: 1px solid #d4d4d4;
  z-index: 10;

  .headerContainer {
    display: flex;
    height: 100%;
    margin: 0 auto;
  }

  .headerBlockDivider {
    flex-shrink: 1000;
    flex-grow: 1;
    padding: 0 8px;
    height: 100%;
  }

  .contactUsContainer {
    display: flex;
    align-items: center;

    .contactUsBtn {
      padding: 8px 24px;
      background: transparent;
      border: 2px solid #731b3c;
      color: #731b3c;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
      transition: color 0.076s ease-in, border-color 0.076s ease-in;
      outline: none;

      &:active {
        background-color: white;
      }

      &:hover {
        border-color: #c53e71;
        color: #c53e71;
      }
    }
  }

  .logoContainer {
    height: 100%;
    display: flex;

    .logoLink {
      display: flex;
      flex-direction: row;
      flex: 1 0;
      align-items: center;
      text-decoration: none;
      color: #731b3c;
      font-weight: 500;
    }

    .logoTitle {
      margin-left: 8px;

      @include xs {
        display: none;
      }

      @include sm {
        display: flex;
      }
    }

    .logoImage {
      background: url("../images/klesun-prod-logo.png");
      display: inline-block;
      height: 36px;
      width: 36px;
      background-size: cover;
    }
  }
}

.container {
  display: block;
  margin: auto;

  @include xs {
    width: 310px;
  }

  @include sm {
    width: 480px;
  }

  @include md {
    width: 660px;
  }

  @include lg {
    width: 910px;
  }

  @include xl {
    width: 1100px;
  }
}

.mainSection {
  width: 100%;

  .sectionMainText {
    text-align: center;
  }

  .lastSectionParagraph {
    text-align: left;
  }

  .introSectionTitle {
    font-weight: 700;
    color: #3e1927;
    text-align: center;
    margin: 0;
    font-size: 32px;
  }

  .lastSectionMainTitle {
    font-size: 32px;
    text-align: left;
    font-style: italic;
  }

  .introSection {
    .introSectionMainHeader {}

    .introSectionMainDescription {}

    .introSectionMain {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .introSectionMainContainer {
        @include xs {
          padding: 32px;
        }

        @include sm {
          padding: 64px;
        }
      }
    }

    .introPointsDivider {
      width: 50%;
      min-height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      @include xs {
        margin: 28px auto;
      }

      @include sm {
        margin: 18px auto;
      }

      .introPointsDividerPoint {
        width: 28px;
        height: 28px;
        border-radius: 18px;
        border: 8px solid #822a4a;
        opacity: 0.4;
      }
    }

    .introSectionColumns {
      display: flex;
      justify-content: space-between;

      @include xs {
        flex-direction: column;
      }

      @include md {
        flex-direction: row;
      }

      .introSectionInnerColumn {
        display: flex;
        flex: 1;

        .introColumnContainer {
          width: 100%;

          @include xs {
            padding: 32px;
          }

          @include sm {
            padding: 64px;
          }
        }
      }
    }
  }

  .introColumnContainerHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .introColumnContainerTitle {
      text-align: center;
      font-size: 24px;
      font-weight: 500;
    }
  }

  .lastSection {
    background-color: #521e31;

    .secondarySectionMainDescription {

    }

    .lastSectionMain {
      @include xs {
        padding: 32px;
      }

      @include sm {
        padding: 48px 64px;
      }
    }

    .lastSectionMainContainer {
      display: flex;
      flex-direction: column;
      color: white;
    }
  }
}

.footerMain {
  width: 100%;
  padding: 16px;
  background-color: #2b323e;

  .footerContainer {
    display: flex;
    flex-direction: column;
  }

  .footerRow {
    width: 100%;
    display: flex;
  }
}

.copyright {
  margin-top: 12px;
  width: 100%;
  display: flex;
  justify-content: center;

  .copyrightText {
    color: #fff;
    font-weight: 400;
  }
}

.linksRow {
  flex-direction: row;

  .linksColumn {
    flex: 1;

    @include xs {
      margin: 0 12px;
    }

    @include sm {
      margin: 0 24px;
    }

    .linksTitle {
      color: white;
      font-weight: 500;
      margin-bottom: 0;
    }
  }

  .links {
    list-style-type: none;
    padding-left: 0;

    li + li {
      margin-top: 4px;
    }

    a {
      text-decoration: none;
      color: #fff;

      @include xs {
        font-size: 12px;
      }

      @include sm {
        font-size: 14px;
      }
    }
  }
}