.riddleNeedle {
  background: url("../images/heroine.png") no-repeat;
}

.soundFont {
  background: url("../images/soundfont.png") no-repeat;
}

.starveGame {
  display: inline-block;
}

.malDb {
  display: inline-block;
}

.rpsImba {
  display: inline-block;
}

.denisbook {
  display: inline-block;
}

.midiana {
  display: inline-block;
}

.noPixel {
  image-rendering: auto !important;
}