@import "../../styles/utils";
@import "../../styles/mixins";

.modalContactBackdrop {
  position: absolute;
  top: 0;
  z-index: 20;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: black;
  opacity: 0.65;
  cursor: default;
  animation: fadeId;
  animation-duration: 200ms;
}

@keyframes fadeId {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.65;
  }
}

.modalBody {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  background: white;
  z-index: 300;
  animation: flyIn;
  animation-duration: 200ms;
  animation-timing-function: ease-in;

  @include xs {
    width: 95%;
    height: 80%;
  }

  @include md {
    width: 40%;
    height: 575px;
  }
}

@keyframes flyIn {
  0% {
    transform: translate(-50%, -200%);
    opacity: 0.01;
  }

  45%, 55% {
    opacity: 0.2;
  }

  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.modalBodyContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modalContainerHeader {
  flex-basis: 15%;
  justify-content: center;
  align-items: center;

  .headerTitle {
    padding: 8px 32px;
    border-bottom: 2px solid #731b3c;

    & > span {
      color: #731b3c;
      font-size: 24px;
    }
  }
}

.modalContainerFooter {
  flex-basis: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 32px;
}

.modalContainerBody,
.modalContainerHeader {
  display: flex;
  flex-direction: row;
}

.submittedBlock {
  display: flex;
  justify-content: center;
  margin-top: 64px;

  & > svg {
    margin-right: 12px;
  }

  & > span {
    font-size: 24px;
    color: #731b3c;
  }
}

.postProcessing {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.75);
  z-index: 30;

  & > h1 {
    margin: 50% auto;
    text-align: center;
    color: #e4e4e4fa;
  }
}

.modalContainerBody {
  flex-grow: 1;
  display: flex;
  margin: 24px 0;
  flex-direction: column;

  .bodyRow {
    display: flex;
    flex-direction: row;

    .bodyRowContainer {
      display: flex;
      flex-grow: 1;
      padding: 16px 24px;

      .bodyCol {
        display: flex;
        justify-content: center;
        flex: 1;
      }
    }
  }
}

.descriptionWrapper {

}

.offPriceCheckbox {
  margin: 0 24px;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #731b3c;

  & > span {
    line-height: 20px;
  }
}

.modalFadeOut {
  animation: modalRowFadeOut;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes modalRowFadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.description {
  width: 100%;
  padding-bottom: 4px;
  line-height: 22px;
  color: #731b3c;
  border-bottom: 1px solid #731b3c;
  cursor: text;
  max-height: 160px;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  resize: none;

  &:focus {
    outline: none;
  }
}